<% include header %>
<div class="container">
    
        <div class="row">
          <div class="col-md-2"> 
        <img src="selfie1.jpg" class="img-circle
        " alt="Cinque Terre" width="304" height="236"> 
      </div>
      </div>
      </div>
          <div class="row">
            <div class="col-md-1">
                <iframe width="424" height="238" src="https://www.youtube.com/embed/5v2DP3HPEXQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div></div>
</body>
<body class="ee">
<article>
<section>
<h1>Current</h1>
<p>I am pursuing my masters in Applied Computer Science and this is my first semester.</p>
</section>
<h1>Background</h1>
<p>I am from Hyderabad, India. I pursued my UG from RMK Engineering College, Chennai.</p>
</section>
<section>
<h1>Plans</h1>
<p>In future i wanna be a knowledgeable software developer by the end of my semesters.</p>
</section>
<aside>
<h1>Hobbies</h1>
<p>My hobbies are playing video games, cooking and browsing</p>
<div>
</div>

</aside>
<footer>Thank You</footer>

<style>
        body {
                background-image: url("Background.jpg ");
        } 
         
        </style>

<% include footer %>
