<% include header %>
<link rel = "stylesheet" href="bookstrap.css">
<style>
    body {
            background-image: url("Background1.jpeg ");
    } 
    
    
    </style>
    
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>linkedin</h2>
            <p><a href="https://www.linkedin.com/in/karthik-raja-vemula-8394a6158/">
              <img border="0" alt="linkedin" src="https://image.flaticon.com/icons/png/512/174/174857.png" width="150" height="150"></a></p></p>
          </div>
          <div class="col-md-4">
            <h2>gitHub</h2>
            <p><a href="https://github.com/karthikv21">
              <img border="0" alt="gitHub" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" width="150" height="150"></a></p>
         </div>
          <div class="col-md-4">
            <h2>bitBucket</h2>
            <p><a href="https://bitbucket.org/dashboard/overview">
              <img border="0" alt="bitBucket" src="https://cdn3.iconfinder.com/data/icons/inficons/512/bitbucket.png" width="150" height="150">
              </a></p>
              <center>
                  </center>
                  </div>
                  </div>
              <div class="container">
                      <div class="row">
                        <div class="col-md-1">
                            
                          <h2>Contact form</h2>
                          <p><form>
                              <div>  <input type="text" name="weight" placeholder="Subject" class="form-control">
                                <br>
                                <br>

                            </div>
                              <div>
                                    <input type="text" placeholder="email">
                                    <br>
                                    <br>
                                  </div>
                              <div>
                                    <textarea name="body" id="" cols="30" rows="10"></textarea>
                                    <br>
                                    <br>
                                    <br>
                                  </div>
                                <div>
                                        <input type="button" class="btn btn-primary" value="Submit">
                                <br>
                                <br>
                                <br>
                                </div>
                              <p><a class="default" role="button">ASK &raquo;</a></p>
                              </form></p>
                        </div></center>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
</div>
</div>
</div>
                      </div></div>
                      </div>
                      </div>
                      <footer>Thank You</footer>

<% include footer %>
