<% include header %>

<link rel="stylesheet" href="A02.css">

<form class="form-horizontal" id="frm">
        <div class="form-group">
            <label  class="col-sm-2 control-label dt">Batsman Name</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" placeholder="Enter name">
            </div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label dt">Batsman Score</label>
            <div class="col-sm-10">
               <input type="text" class="form-control" placeholder="Enter score" id = "score">
            </div>
        </div>
        <div class="form-group">
                <label  class="col-sm-2 control-label dt">No. of Matches</label>
                <div class="col-sm-10">
                   <input type="text" class="form-control" placeholder="Enter number" id = "match">
                </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label dt">Average Score:</label>
              <div class="col-sm-10">
                 <input type="text" class="form-control" placeholder="avg score :" id = "avg" value="">
              </div>
          </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" onclick= "App.launch()"  class="btn btn-primary">Calculate avg score</button>
            </div>
        </div>
    </form>
    <style>
            body {
                    background-image: url("Background.jpg");
            } 
            
             
            </style>
            <footer>Thank You</footer>
            <script src="score.js"></script>
            <% include footer %>
